grant Principal it.softfood.entity.User "CAMERIERE" { 
    permission it.softfood.aspect.OperationPermission "login";
    permission it.softfood.aspect.OperationPermission "logout";
    permission it.softfood.aspect.OperationPermission "selezionaPietanze";
    permission it.softfood.aspect.OperationPermission "selezionaPietanzePerTipo";
    permission it.softfood.aspect.OperationPermission "selezionaBevande";
    permission it.softfood.aspect.OperationPermission "selezionaUserPerPassword";
    permission it.softfood.aspect.OperationPermission "selezionaPietanzeDisponibili";
    permission it.softfood.aspect.OperationPermission "selezionaPietanzeDisponibiliPerTipo";
    permission it.softfood.aspect.OperationPermission "selezionaIngredientiPietanza";
    permission it.softfood.aspect.OperationPermission "selezionaIngredientiPietanze";
    permission it.softfood.aspect.OperationPermission "selezionaIngredientiMagazzino";
    permission it.softfood.aspect.OperationPermission "selezionaDisponibilitaBevanda";
    permission it.softfood.aspect.OperationPermission "selezionaDisponibilitaPietanza";
    permission it.softfood.aspect.OperationPermission "selezionaArticoloMenuPerId";
    permission it.softfood.aspect.OperationPermission "selezionaBevandeDisponibili";
    permission it.softfood.aspect.OperationPermission "selezionaBevandeMagazzino";
    permission it.softfood.aspect.OperationPermission "inserisciOrdinazione";
    permission it.softfood.aspect.OperationPermission "selezionaOrdinazioneGiornalieraPerTavolo";
    permission it.softfood.aspect.OperationPermission "selezionaOrdinazionePerId";
    permission it.softfood.aspect.OperationPermission "selezionaLineeOrdinazionePerOrdinazione";
    permission it.softfood.aspect.OperationPermission "selezionaLineeOrdinazionePerOrdinazioneTipoPietanza";
    permission it.softfood.aspect.OperationPermission "rimuoviOrdinazione";
    permission it.softfood.aspect.OperationPermission "rimuoviLineaOrdinazione";
    permission it.softfood.aspect.OperationPermission "selezionaLineaOrdinazionePerId";
    permission it.softfood.aspect.OperationPermission "selezionaVariantiPerLineaOrdinazione";
    permission it.softfood.aspect.OperationPermission "selezionaIngredientiPerVariante";
    permission it.softfood.aspect.OperationPermission "inserisciLineaOrdinazione";
    permission it.softfood.aspect.OperationPermission "selezionaIngredientePerNome";
    permission it.softfood.aspect.OperationPermission "inserisciVariante";
    permission it.softfood.aspect.OperationPermission "selezionaTavoliLiberi";
    permission it.softfood.aspect.OperationPermission "selezionaTavoliOccupati";
    permission it.softfood.aspect.OperationPermission "occupaTavoli";
    permission it.softfood.aspect.OperationPermission "rimuoviTavolo";
    permission it.softfood.aspect.OperationPermission "modificaStatoTavolo";
    permission it.softfood.aspect.OperationPermission "selezionaTavolo";
    permission it.softfood.aspect.OperationPermission "selezionaTavoloPerId";
    permission it.softfood.aspect.OperationPermission "selezionaTavoloPerRiferimento";
    permission it.softfood.aspect.OperationPermission "selezionaUserName";
    permission it.softfood.aspect.OperationPermission "selezionaOrdinazionePerTavolo";
    permission it.softfood.aspect.OperationPermission "verificaIngredientiPietanza";
    permission it.softfood.aspect.OperationPermission "aggiornaMagazzinoIngredienti";
    permission it.softfood.aspect.OperationPermission "aggiornaMagazzinoBevande";
    permission it.softfood.aspect.OperationPermission "verificaDisponibilitaIngredientiPietanza";
}; 

grant Principal it.softfood.entity.User "CASSIERE" {
    permission  it.softfood.aspect.OperationPermission "login"; 
    permission  it.softfood.aspect.OperationPermission "logout";
};
  
grant Principal it.softfood.entity.User "CUOCO"{
	permission  it.softfood.aspect.OperationPermission "selezionaDisponibilitaBevanda";
    permission  it.softfood.aspect.OperationPermission "login"; 
    permission  it.softfood.aspect.OperationPermission "logout";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazioniGiornaliere";
    permission  it.softfood.aspect.OperationPermission "selezionaLineaOrdinazionePerId";
    permission  it.softfood.aspect.OperationPermission "selezionaVariantiPerLineaOrdinazione";
    permission  it.softfood.aspect.OperationPermission "selezionaIngredientiPietanza";
    permission  it.softfood.aspect.OperationPermission "selezionaIngredientePerNome";
    permission  it.softfood.aspect.OperationPermission "selezionaPietanze";
    permission  it.softfood.aspect.OperationPermission "selezionaBevande";
    permission  it.softfood.aspect.OperationPermission "selezionaIngredienti";
    permission  it.softfood.aspect.OperationPermission "rimuoviBevandaMenu";
    permission  it.softfood.aspect.OperationPermission "rimuoviIngrediente";
    permission  it.softfood.aspect.OperationPermission "rimuoviPietanzaMenu";
    permission  it.softfood.aspect.OperationPermission "updateBevanda";
    permission  it.softfood.aspect.OperationPermission "updateIngrediente";
    permission  it.softfood.aspect.OperationPermission "updateBevandaMagazzino";
    permission  it.softfood.aspect.OperationPermission "updateIndredientiPietanza";
    permission  it.softfood.aspect.OperationPermission "updateIngredienteMagazzino";
    permission  it.softfood.aspect.OperationPermission "updatePietanza";
    permission  it.softfood.aspect.OperationPermission "inserisciIngredientiPietanze";
    permission  it.softfood.aspect.OperationPermission "inserisciBevandaMenu";
    permission  it.softfood.aspect.OperationPermission "inserisciIngredientePietanza";
    permission  it.softfood.aspect.OperationPermission "inserisciPietanzaMenu";
    permission  it.softfood.aspect.OperationPermission "inserisciIngrediente"; 
    permission  it.softfood.aspect.OperationPermission "inserisciBevandaMagazzino";
    permission  it.softfood.aspect.OperationPermission "inserisciIngredienteMagazzino";
    permission  it.softfood.aspect.OperationPermission "inserisciPietanza";
    permission  it.softfood.aspect.OperationPermission "inserisciBevanda";
    permission  it.softfood.aspect.OperationPermission "inserisciIngrediente";
    permission  it.softfood.aspect.OperationPermission "selezionaArticoloPerId";
    permission  it.softfood.aspect.OperationPermission "selezionaMagazzinoPerId";
    permission  it.softfood.aspect.OperationPermission "selezionaIngredientePerId";
    permission  it.softfood.aspect.OperationPermission "inserisciIngredientePietanza";
    permission  it.softfood.aspect.OperationPermission "selezionePietanzePerTipo";
    permission  it.softfood.aspect.OperationPermission "verificaIngredientiPietanza";
    permission  it.softfood.aspect.OperationPermission "selezionaPietanzaPerId";
    permission  it.softfood.aspect.OperationPermission "selezionaBevandaPerId";
    permission  it.softfood.aspect.OperationPermission "selezionaBevandeMagazzino";
    permission  it.softfood.aspect.OperationPermission "selezionaIngredientiPietanze";
    permission  it.softfood.aspect.OperationPermission "selezionaIngredientiMagazzino";
    permission  it.softfood.aspect.OperationPermission "selezionaBevandaMagazzinoPerQuantita";
    permission  it.softfood.aspect.OperationPermission "rimuoviIngredientePietanza";
    permission  it.softfood.aspect.OperationPermission "rimuoviPietanza";
    permission  it.softfood.aspect.OperationPermission "rimuoviIngredienteMagazzino";
    permission  it.softfood.aspect.OperationPermission "selezionaBevandeMagazzinoPerId";
    permission  it.softfood.aspect.OperationPermission "rimuoviBevandaMagazzino";
    permission  it.softfood.aspect.OperationPermission "rimuoviBevanda";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazionePerId";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazioni";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazioniGiornaliere";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazioneGiornaliereNoData";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazioniGiornaliereNoData";
    permission  it.softfood.aspect.OperationPermission "selezionaOrdinazioniGiornaliere";
    permission  it.softfood.aspect.OperationPermission "modificaLineaOrdinazione";
    permission  it.softfood.aspect.OperationPermission "modificaOrdinazione";
    permission  it.softfood.aspect.OperationPermission "setLineaEvasa";
};

  
grant Principal it.softfood.entity.User "AMMINISTRATORE"{
  permission it.softfood.aspect.OperationPermission "login"; 
  permission it.softfood.aspect.OperationPermission "logout";
  permission it.softfood.aspect.OperationPermission "inserisciUtente";
  permission it.softfood.aspect.OperationPermission "selezionaUserName";
  permission it.softfood.aspect.OperationPermission "selezionaPassword";
  permission it.softfood.aspect.OperationPermission "modificaRuolo";
  permission it.softfood.aspect.OperationPermission "eliminaUtente";
  permission it.softfood.aspect.OperationPermission "selezionaUtente";
  permission it.softfood.aspect.OperationPermission "inserisciOrdinazione";

}; 
grant Principal it.softfood.entity.User "TEST"{
  	permission java.security.AllPermission;
}; 
grant {
    permission java.net.SocketPermission "*", "listen, resolve, accept, connect";
    permission java.util.PropertyPermission "*", "read, write";
    permission java.lang.reflect.ReflectPermission "*";
    permission java.io.FilePermission "/-", "read,write";
    permission java.net.NetPermission "*";
    permission javax.security.auth.AuthPermission "*";
    permission java.lang.RuntimePermission "*";
};