<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SoftFood">
        <property name="hibernate.connection.driver_class">org.postgresql.Driver
        </property>
        <property name="hibernate.connection.password">root
        </property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/softfood
        </property>
        <property name="hibernate.connection.username">postgres
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory
        </property>
    <!--  thread is the short name for
      org.hibernate.context.ThreadLocalSessionContext
      and let Hibernate bind the session automatically to the thread
    -->
        <property name="current_session_context_class">thread
        </property>
    <!-- this will show us all sql statements -->
        <property name="hibernate.show_sql">true
        </property>
	<!-- mapping files -->
        <mapping resource="it/softfood/XMLdomain/Articolo.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/BevandaMagazzino.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Entrata.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Fornitore.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Indirizzo.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Ingrediente.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/IngredienteMagazzino.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/IngredientePietanza.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/LineaOrdinazione.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Listino.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Magazzino.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Menu.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Ordinazione.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Registro.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Ristorante.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Staff.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Tavolo.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/User.hbm.xml" />
        <mapping resource="it/softfood/XMLdomain/Variante.hbm.xml" />
        
    </session-factory>
</hibernate-configuration>
